*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

#headernav{
  background-color: #1C658C;
  font-size: 22px;
}
#projectsDiv{
  background-color: #EFDAD7;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
   margin-top: 2rem;
   margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
  font-size: 25px;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}





